<div class="body-container m-0 p-3 d-flex justify-content-center align-items-center" style="height: 96vh;">
  <div>
    <h1 class="gift-anime1 animated fadeIn text-center" style="font-size: 11vw; font-weight: bold;">Open gift number</h1>
    <div class="home-anime2 animated fadeIn text-center" style="font-size: 30vw; font-weight: bold;"><%= @number.number %></div>

    <div class="button-container">
      <a href="<%= @path %>" class="card-btn home-anime3 animated fadeIn" style="margin-top: 4vw; height: 11vw; width: 38vw; font-size: 6vw;">Next Gift!
      </a>
    </div>
  </div>
</div>
