<h1 class="animate1 animated fadeIn m-0 text-center" style="font-size: 6vw;">Line 1 abcdefghijklmnopqrstuvw</h1>

<div class="button-container">
  <a href="<%= gifts_path %>" class="purple-btn" style="width: 30vw; height: 10vw; font-weight: bold; font-size: 5vw;">Let's go
  </a>
</div>
