<div class="p-3">
  <h1 class="fake-anime1 animated fadeIn m-0" style="font-size: 6vw;">Here is the first paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>
  <h1 class="fake-anime2 animated fadeIn m-0 mt-4" style="font-size: 6vw;">Here is the second paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>
  <h1 class="fake-anime3 animated fadeIn m-0 mt-4" style="font-size: 6vw;">Here is the third paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>
  <h1 class="fake-anime4 animated fadeIn m-0 mt-4" style="font-size: 6vw;">Here is the fourth paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>
  <h1 class="fake-anime5 animated fadeIn m-0 mt-4" style="font-size: 6vw;">Here is the fifth paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>
  <h1 class="fake-anime6 animated fadeIn m-0 mt-4" style="font-size: 6vw;">Here is the sixth paragraph I will write for the Christmas card. It won't be too long, but it won't be too short either.</h1>

  <div class="button-container my-4">
    <a href="<%= gifts_path %>" class="card-btn" style="width: 30vw; height: 10vw; font-weight: bold; font-size: 5vw;">Let's go
    </a>
  </div>
</div>

