<div class="body-container m-0 p-3 d-flex justify-content-center align-items-center" style="height: 96vh;">
  <div class="home-container">
    <h1 class="home-anime1 animated fadeIn text-center" style="font-size: 11vw; font-weight: bold;">Merry Christmas</h1>
    <h1 class="home-anime2 animated fadeIn text-center" style="margin-bottom: 11vw; font-size: 11vw; font-weight: bold;">My Schatzilein!</h1>
    <h4 class="home-anime3 animated fadeIn" style="margin-bottom: 11vw; font-size: 7vw; padding-left: 3vw; padding-right: 3vw;">You aren't allowed to start before you've solved the puzzle!</h4>
    <h4 class="home-anime4 animated fadeIn" style="margin-bottom: 11vw; font-size: 7vw; padding-left: 3vw; padding-right: 3vw;">When the time is right, I will give you the clue, and you will need to enter the answer below to proceed</h4>
    <div class="home-anime5 animated fadeIn d-flex justify-content-center">
      <input id="password1" class="password" type="text" placeholder="answer?">
    </div>
    <div class="button-container">
      <a href="/8343" id="home-button" class="card-btn hidden" style="margin-top: 4vw; height: 11vw; width: 38vw; font-size: 6vw;">Bingo!
      </a>
    </div>
  </div>
</div>
