.home-anime1 {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.home-anime2 {
  animation-duration: 3s;
  animation-delay: 1.5s;
}

.home-anime3 {
  animation-duration: 5s;
  animation-delay: 3s;
}

.home-anime4 {
  animation-duration: 5s;
  animation-delay: 6s;
}

.gift-anime4 {
  animation-duration: 2s;
  animation-delay: 6s;
}

.home-anime5 {
  animation-duration: 3s;
  animation-delay: 10s;
}
