.home-anime1 {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.home-anime2 {
  animation-duration: 3s;
  animation-delay: 1.5s;
}

.home-anime3 {
  animation-duration: 5s;
  animation-delay: 3s;
}

.home-anime4 {
  animation-duration: 5s;
  animation-delay: 6s;
}

.home-anime5 {
  animation-duration: 3s;
  animation-delay: 10s;
}

.gift-anime1 {
  animation-duration: 1.5s;
  animation-delay: 0;
}

.gift-anime2 {
  animation-duration: 3s;
  animation-delay: 1.3s;
}

.gift-anime3 {
  animation-duration: 5s;
  animation-delay: 3s;
}

.gift-anime4 {
  animation-duration: 2s;
  animation-delay: 6s;
}

.card-anime1 {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.card-anime2 {
  animation-duration: 3s;
  animation-delay: 6s;
}

.card-anime3 {
  animation-duration: 3s;
  animation-delay: 12s;
}

.card-anime4 {
  animation-duration: 3s;
  animation-delay: 18s;
}

.card-anime5 {
  animation-duration: 3s;
  animation-delay: 24s;
}

.card-anime6 {
  animation-duration: 3s;
  animation-delay: 30s;
}

.fake-anime1 {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.fake-anime2 {
  animation-duration: 3s;
  animation-delay: 6s;
}

.fake-anime3 {
  animation-duration: 3s;
  animation-delay: 12s;
}

.fake-anime4 {
  animation-duration: 3s;
  animation-delay: 18s;
}

.fake-anime5 {
  animation-duration: 3s;
  animation-delay: 24s;
}

.fake-anime6 {
  animation-duration: 3s;
  animation-delay: 30s;
}
