.card-btn {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  color: white;
  border-radius: 8vw;
  width: 30%;
  height: 38px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.secondary {
  background-color: $secondary;
}

.tertiary {
  background-color: $tertiary;
}

.dark-text {
  color: $dark;
}
